html,body{
    height: 100%;
    margin: 0%;
}
body{
    background-image: url("./free-nature-images.jpg");
    
    background-size:cover;
    
    background-position: center;
    background-attachment: fixed;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}